
@media screen and (max-width: 480px) {
    * {
        max-width: 100%;
        text-align: center;
        font-family: Arial;
    }

    body {
        background-color: black;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .phoneNav {
        position: absolute;
        top: 0;
        left: 0;
        height: 9vh;;
        width: 23%;
        cursor: pointer;
    }

    .phoneNav * {
        background-color: white;
        height: 15%;
        margin-bottom: 15%;
    }

    #mainNav {
        position: absolute;
        left: 0;
        color: white;
        margin-top: 16%;
        display: none;
        background-color: black;
        opacity: 0.7;
        width: 100%;
        height: 17vh;
    }

    #mainNav * {
        display: block;
        color: white;
        text-decoration: none;
    }

    #mainNav p:hover {
        color: gold;
    }

    .welcome {
        color: white;
        margin-top: 25%;
        float: left;
    }

    .header {
        margin-top: 0;
        height: 50vh;
        width: 100%;
        margin-bottom: 0;
        background-image: url("images/header1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 50vh;
    }

    .menuDiv {
        position: relative;
        bottom: 3.5vh;
        background-color: white;
        margin-top: 0;
    }

    .menuDiv h2 {
        color: #696969;
    }

    .contactContainer {
        position: relative;
        bottom: 6.3vh;
        color: white;
        background-color: #282828;
    }

    footer {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 9vh;
        height: 5vh;
        background-color: #383838;
    }

    footer p {
        height: 100%;
    }

    .contactFormContainer {
        background-color: #282828;
        position: relative;
        top: 0;
        bottom: 10vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contactFormContainer h3 {
        position: relative;
        margin-top: 0;
        color: white;
        top: 2vh;
    }

    .contactFormContainer input {
        position: relative;
        left: 25%;
        display: block;
        width: 50%;
        resize: none;
        margin-bottom: 3%;
    }

    #submitButton {
        margin-bottom: 3vh;
    }

    #messageBox {
        height: 10vh;
    }

    .contactPageFooter {
        position: relative;
        top: 0;
        margin: 0;
    }

    .contactPageFooter p {
        margin: 0;
        margin-left: 3%;
    }
}

@media screen and (min-width: 481px) and (max-width: 899px) {
    * {
        text-align: center;
        max-width: 100%;
    }

    body {
        max-width: 100%;
        margin: 0;
    }

    #mainNav {
        position: relative;
        height: 4vh;
        background-color: black;
        opacity: 0.7;
        z-index: 2;
    }

    #mainNav p {
        position: relative;
        left: 5%;
        color: white;
        display: inline;
        margin-right: 10%;
        color: white;
    }

    #mainNav a {
        text-decoration: none;
    }

    #mainNav p:hover {
        color: gold;
    }

    .welcome {
        color:white;
        position: relative;
        top: 15vh;
        z-index: 2;
    }

    .header {
        position: absolute;
        bottom: 0;
        background-image: url("images/header1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }

    .menuDiv {
        position: relative;
        top: 100vh;
    }

    .menuDiv h2 {
        color: #696969;
        margin-top: 5%;
    }

    .contactContainer {
        position: relative;
        top: 100vh;
        background-color: #282828;
    }

    .contactContainer * {
        color: white;
    }

    footer {
        position: relative;
        top: 97.3vh;
        background-color: #383838;
    }

    .contactFormContainer {
        position: relative;
        margin-top: 0;
        top: 83vh;
        bottom: 0;
    }

    .contactFormContainer h3 {
        color: white;
    }

    .contactFormContainer textarea {
        display: block;
        position: relative;
        left: 35%;
        resize: none;
        width: 30%;
        margin-bottom: 3%;
    }

    #messageBox {
        margin-top: 5%;
        height: 15vh;
    }

    #submitButton {
        margin-bottom: 5%;
    }

    .contactPageFooter {
        position: relative;
        margin-top: 0;
        top: 80vh;
    }
}

@media screen and (min-width: 900px) {
    
    @font-face {
        font-family: default-font;
        src: url('Fonts/CroissantOne-Regular.ttf');
    }

    * {
        margin: auto;
        text-align: center;
        font-family: default-font, sans-serif, arial;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #mainNav {
        position: relative;
        float: left;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 5vh;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.7;
    }

    #mainNav p{
        position: relative;
        top: 20%;
        left: 2%;
        color: white;
        display: inline;
        margin-right: 5%;
        font-size: 110%;
        opacity: 1;
    }

    #mainNav p:hover, a {
        color: gold;
        text-decoration: none;
    }

    section {
        transform: translate(0, 20%);
        opacity: 0;
    }
    
    .welcome {
        position: relative;
        top: 15%;
        color: white;
        z-index: 2;
    }

    .order {
        position: relative;
        margin-top: 30%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 20%;
        height: 5%;
        color: white;
        border-radius: 50px;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
    }

    .order:hover {
        background-color: white;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .header {
        position: relative;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100%;
        background-image: url('images/header1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        z-index: 1;
    }

    .about-us {
        position: relative; 
        background-color: white;
    }

    .about-img {
        width: 30%;
        border-radius: 5px;
        filter: drop-shadow(10px 10px 10px black);
        margin-bottom: 10%;
    }
    
    .about-img2 {
        width: 35%;
        border-radius: 5px;
        filter: drop-shadow(10px 10px 5px black);
        margin-bottom: 10%;
        order: -1;
    }
    
    .about-us div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .line {
        width: 80%;
        border: 1px solid black;
        opacity: 0.5;
    }

    .menuDiv {
        position: relative;
        margin-top: 5%;
        background-color: white;
    }

    .menuDiv h2 {
        position: relative;
        color: #696969;
    }
    
    #menus{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #breakfast-img {
        width: 400px;
        height: 300px;
        background: url("images/egg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    #lunch-img {
        width: 400px;
        height: 300px;
        background: url("images/burger&fries.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .lunchOverlay p {
        margin-top: 28%;
        color: white;
    }
    
    #dinner-img {
        width: 400px;
        height: 300px;
        background: url("images/steak.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .overlay {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease-in;
        background-color: black;
    }
    
    .overlay * {
        position: relative;
        top: 50%;
        color: white;
    }

    .overlay:hover {
        opacity: 0.5;
    }

    .contactContainer {
        position: relative;
        color: white;
        margin: 0;
        background-color: #282828;
        opacity:1;
    }
    
    .contactDiv {
        display: flex;
    }

    .info h3 {
        margin-bottom: 10%;
    }

    .icon {
        margin-top: 20%;
        width: 70%;
    }

    .location {
        position: relative;
        margin-right: 2%;
    }

    .location h3 {
        margin-bottom: 2%;
    }

    footer {
        background-color: #383838;
        position: relative;
    }

    footer p {
        text-align: left;
        margin-bottom: 0;
    }
    
    /*Order page*/
    /*TODO order page fix layout*/

    /*Contact page*/
    .contactFormContainer {
        position: relative;
        background-color: #282828;
    }

    .contactForm {
        position: relative;
        top: 3vh;
    }

    .contactForm h3 {
        margin-bottom: 3%;
        color: white;
    }

    .contactForm input {
        resize: none;
        display: block;
        width: 30%;
        height: 4vh;
        margin-bottom: 2%;
    }

    #messageBox {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 30%;
        height: 15vh;
        display: block;
    }

    #submitButton {
        margin-bottom: 5%;
    }

    .contactPageFooter p {
        position: relative;
        left: 0;
        text-align: left;
    }
}

@media print {
    /*Todo*/
}
