/* 
    Created on : 20-Feb-2018, 8:54:40 PM
    Author     : Sultan
*/

@media screen and (max-width: 480px) {
    * {
        max-width: 100%;
        text-align: center;
        font-family: Arial;
    }

    body {
        background-color: black;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .phoneNav {
        position: absolute;
        top: 0;
        left: 0;
        height: 9vh;;
        width: 23%;
        cursor: pointer;
    }

    .phoneNav * {
        background-color: white;
        height: 15%;
        margin-bottom: 15%;
    }

    #mainNav {
        position: absolute;
        left: 0;
        color: white;
        margin-top: 16%;
        display: none;
        background-color: black;
        opacity: 0.7;
        width: 100%;
        height: 17vh;
    }

    #mainNav * {
        display: block;
        color: white;
        text-decoration: none;
    }

    #mainNav p:hover {
        color: gold;
    }

    .welcome {
        color: white;
        margin-top: 25%;
        float: left;
    }

    .header {
        margin-top: 0;
        height: 50vh;
        width: 100%;
        margin-bottom: 0;
        background-image: url("images/header1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 50vh;
    }

    .menuDiv {
        position: relative;
        bottom: 3.5vh;
        background-color: white;
        margin-top: 0;
    }

    .menuDiv h2 {
        color: #696969;
    }

    .contactContainer {
        position: relative;
        bottom: 6.3vh;
        color: white;
        background-color: #282828;
    }
    
    footer {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 9vh;
        height: 5vh;
        background-color: #383838;
    }
    
    footer p {
        height: 100%;
    }
    
    .contactFormContainer {
        background-color: #282828;
        position: relative;
        top: 0;
        bottom: 10vh;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .contactFormContainer h3 {
        position: relative;
        margin-top: 0;
        color: white;
        top: 2vh;
    }
    
    .contactFormContainer textarea {
        position: relative;
        left: 25%;
        display: block;
        width: 50%;
        resize: none;
        margin-bottom: 3%;
    }
    
    #submitButton {
        margin-bottom: 3vh;
    }
    
    #messageBox {
        height: 10vh;
    }
    
    .contactPageFooter {
        position: relative;
        top: 0;
        margin: 0;
    }
    
    .contactPageFooter p {
        margin: 0;
        margin-left: 3%;
    }
}

@media screen and (min-width: 481px) and (max-width: 899px) {
    * {
        text-align: center;
        max-width: 100%;
    }

    body {
        max-width: 100%;
        margin: 0;
    }

    #mainNav {
        position: relative;
        height: 4vh;
        background-color: black;
        opacity: 0.7;
        z-index: 2;
    }

    #mainNav p {
        position: relative;
        left: 5%;
        color: white;
        display: inline;
        margin-right: 10%;
        color: white;
    }

    #mainNav a {
        text-decoration: none;
    }

    #mainNav p:hover {
        color: gold;
    }

    .welcome {
        color:white;
        position: relative;
        top: 15vh;
        z-index: 2;
    }

    .header {
        position: absolute;
        bottom: 0;
        background-image: url("images/header1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }

    .menuDiv {
        position: relative;
        top: 100vh;
    }

    .menuDiv h2 {
        color: #696969;
        margin-top: 5%;
    }

    .contactContainer {
        position: relative;
        top: 100vh;
        background-color: #282828;
    }
    
    .contactContainer * {
        color: white;
    }

    footer {
        position: relative;
        top: 97.3vh;
        background-color: #383838;
    }
    
    .contactFormContainer {
        position: relative;
        margin-top: 0;
        top: 83vh;
        bottom: 0;
    }
    
    .contactFormContainer h3 {
        color: white;
    }
    
    .contactFormContainer textarea {
        display: block;
        position: relative;
        left: 35%;
        resize: none;
        width: 30%;
        margin-bottom: 3%;
    }
    
    #messageBox {
        margin-top: 5%;
        height: 15vh;
    }
    
    #submitButton {
        margin-bottom: 5%;
    }
    
    .contactPageFooter {
        position: relative;
        margin-top: 0;
        top: 80vh;
    }
}

@media screen and (min-width: 900px) {
    * {
        max-width: 240px;
    }
    .menuDiv img {
        display: block;
    }

    * {
        max-width: 2000px;
        margin: auto;
        text-align: center;
        font-family: Arial;
    }

    body {
        background-color: black;
        margin: 0;
        padding: 0;
    }

    #mainNav {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 5vh;
        z-index: 2;
        background-color: black;
        opacity: 0.7;
    }

    #mainNav p{
        position: relative;
        top: 1vh;
        left: 2%;
        color: white;
        display: inline;
        margin-right: 5%;
        font-size: 110%;
        opacity: 1;
    }

    #mainNav p:hover {
        color: gold;
    }

    #mainNav a {
        text-decoration: none;
    }

    .welcome {
        position: relative;
        text-align: center;
        top: 13vh;
        color: white;
        z-index: 2;
    }

    .header {
        position: absolute;
        width: 0%;
        bottom: 0%;
        top: 0%;
        left: 0%;
        right: 0%;
        height: 100vh;
        width: 100%;
        background-image: url('images/header1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        max-width: 100%;
    }

    .menuDiv {
        position: relative;
        left: 0;
        top: 89.5vh;
        height: 55vh;
        width: 100%;
        background-color: white;
    }

    .menuDiv h2 {
        position: relative;
        color: #696969;
    }

    .menuDiv img {
        width: 30%;
        margin-right: 2%;
        display: inline;
    }

    .breakdastContainer {
        height: 75%;
        width: 30%;
        margin-left: 2%;
        float: left;
        margin-top: 0.5%;
    }

    .breakdastContainer img {
        float: left;
        margin-top: 3%;
        width: 100%;
        height: 100%;
    }

    .breakfastOverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        margin-left: 2%;
        height: 75.6%;
        width: 30%;
        opacity: 0;
        transition: 0.5s ease-in;
        background-color: black;
    }

    .breakfastOverlay p {
        margin-top: 30%;
        color: white;
    }

    .breakdastContainer:hover .breakfastOverlay {
        opacity: 0.5;
    }

    .lunchContainer {
        float: left;
        margin-top: 1.3%;
        margin-left: 4%;
        width: 30%;
        height: 75%;
    }

    .lunchContainer img {
        width: 100%;
        height: 100%;
    }

    .lunchOverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: 0;
        width: 29.5%;
        height: 73.1%;
        opacity: 0;
        transition: 0.5s ease-in;
        background-color: black;
        border: 3px solid black;
    }

    .lunchContainer:hover .lunchOverlay {
        opacity: 0.5;
    }

    .lunchOverlay p {
        margin-top: 28%;
        color: white;
    }

    .dinnerContainer {
        position: relative;
        top: 4.5%;
        width: 28%;
        height: 76%;
        float: left;
        margin-left: 4%; 
    }

    .dinnerContainer img {
        width: 100%;
        height: 100%;
    }

    .dinnerOverlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in;
        background-color: black;
        opacity: 0;
    }

    .dinnerOverlay p {
        color: white;
        margin-top: 30%;
    }

    .dinnerContainer:hover .dinnerOverlay {
        opacity: 0.5;
    }

    .contactContainer {
        position: relative;
        color: white;
        top: 89.9vh;
        margin: 0;
        background-color: #282828;
        height: 85vh;
    }

    .contactContainer h2 {
        margin-bottom: 3%;
    }

    .info {
        float: left;
        margin-left: 10%;
        margin-right: 25%;
    }

    .info h3 {
        margin-bottom: 10%;
    }

    .icon {
        margin-top: 20%;
    }

    .location {
        position: relative;
        bottom: 5%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 25%;
    }

    .location h3 {
        margin-bottom: 2%;
    }

    .location iframe {
        position: relative;
        width: 50%;
    }

    footer {
        margin: 0;
        position: relative;
        top: 89.9vh;
        bottom: 0;
        background-color: #383838;
        height: 5vh;
    }

    footer p {
        position: relative;
        top:30%;
        right: 35%;
        margin-bottom: 0;
    }
    
    .contactFormContainer {
        position: relative;
        top: 80vh;
        margin-top: 4.5%;
        background-color: #282828;
    }

    .contactForm {
        position: relative;
        top: 3vh;
    }

    .contactForm h3 {
        margin-bottom: 3%;
        color: white;
    }

    .contactForm textarea {
        resize: none;
        display: block;
        width: 30%;
        margin-bottom: 2%;
    }

    #messageBox {
        margin-top: 3%;
        margin-bottom: 3%;
        height: 15vh;
        display: block;
    }
    
    #submitButton {
        margin-bottom: 5%;
    }
    
    .contactPageFooter {
        position: relative;
        top: 80vh;
    }
    
    .contactPageFooter p {
        position: relative;
        left: 0;
        width: 99%;
    }
}